@import '../../mixins.scss';

.class-info-container {
  text-align: center;
}

.class-info {
  display: inline-block;
  text-align: left;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #888297;
}

.class-btn_update {
  @include update_button(30px);
  width: 100%;
}
