.class-selector-card {
  display: grid;
  grid-auto-flow: column;
  background-color: grey;
  align-items: center;
}
.remove-class-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
}
