@use '../../App.scss';

.submenu-container {
  padding: 25px 10px;
  margin-top: 10%;

  justify-content: center;
  text-align: center;
  background: App.$background;
  border-radius: 12px;
}
.submenu-link-container {
  margin: 25px 0px;
  text-align: center;
  height: 40px;

  display: flex;
}
@mixin submenu-link {
  text-decoration: none;
  width: 150px;
  font-size: 18spx;
  padding: 10px;
  border-radius: 12px;
  transition: scale 0.2s;
  &:hover {
    scale: 1.1;
    background-color: App.$buttonHover;
    color: App.$textClicked;
    border-radius: 12;
  }
}

.submenu-link-unclicked {
  @include submenu-link;
  color: App.$text;
  background-color: App.$button-color;
}
.submenu-link-clicked {
  @include submenu-link;
  color: App.$textClicked;
  background-color: App.$button-highlight;
}
