@use '../../../App.scss';
@import '../../../mixins.scss';

.student-search-container {
  display: block;
  justify-content: center;
  padding: 5px;
}
.student-overview-nav-wrapper {
  text-align: center;
}

.student-deactivate-btn {
  @include deactivate-button;
  margin: 20px 10px;
}
@mixin overview-btn {
  @include button-type-1;
  padding: 10px;
  width: 100px;
}
.overview-btn {
  @include overview-btn;
}
.overview-btn-active {
  @include overview-btn;
  background-color: App.$button-highlight;
  scale: 1.2;
}
.student-info-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
}
.warning {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.student-search-title-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
