@import '../../../mixins.scss';
.major-add-submit-btn {
  @include update-button(30px);
}
.major-add-container {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  text-align: center;
  justify-content: center;
}
