//App Colors
$background: #ece2fb;
$button-color: #745cab;
$button-highlight: #b092ff;
$text: #ffffff;
html {
  background-color: #888297;
  font-family: 'merriweather', serif;
  font-weight: 400;
  font-style: normal;
}
.page-container {
  display: flex;
}
.submenu {
  float: left;
  width: 100%;
}
