//App Colors
$background: #ece2fb;
$button-color: #745cab;
$button-highlight: #b092ff;
$buttonHover: white;
$text: #ffffff;
$textClicked: black;
$buttonBorder: rgb(69, 65, 77);

html {
  background-color: #888297;
  font-family: 'merriweather', serif;
  font-weight: 400;
  font-style: normal;
}
.page-container {
  display: flex;
}
.submenu {
  float: left;
  width: 100%;
}
