//App Colors
$background: #ece2fb;
$button-color: #745cab;
$button-highlight: #b092ff;
$buttonHover: white;
$text: #ffffff;
$textClicked: black;

$deactive-color: #ff4742;
$active-color: #1aab8a;

.form-group {
  text-align: left;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  margin: 10px auto;
  align-items: center;
  & label {
    width: 150px;
  }
  & input {
    width: 200px;
    background-color: $button-highlight;
    border: none;
    border-radius: 12px;
    padding: 5px 10px;
    &:hover,
    :focus {
      background-color: $buttonHover;
    }
  }
}
