.lost-table-wrapper {
  margin: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  text-align: center;
}
.table-title {
  text-align: left;
  margin: 0;
}
tr:nth-child(even) {
  background-color: rgba(215, 169, 241, 0.7);
}

table {
  justify-content: center;
  margin: 0 auto;
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid black;
}
td,
th {
  padding: 20px;
  border: 1px solid black;
}

tr {
  border: 1px solid black;
}
