.login-page {
  position: relative;
  height: 100vh;

  font-size: 20px;
  text-align: center;
  background-image: url(../../assets/CWU-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: white;

  background-position: center center;
}
.login-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 50px 50px;
  display: grid;
  row-gap: 30px;
  backdrop-filter: blur(4px) saturate(124%);
  -webkit-backdrop-filter: blur(4px) saturate(124%);
  background-color: rgba(44, 41, 41, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.18);
}

.login-label {
  margin: 5px;
  width: 70px;
}

.login-box {
  display: flex;
  gap: 30px;
}
.login-title {
  text-decoration: dotted;
  padding-top: 30px;
}
