@use '../../../Global.scss';
@import '../../../mixins.scss';

.major-search {
  width: 100%;
}
.major-title {
  text-align: center;
}
.major-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.major-search-button {
  height: 40px;
  @include button-type-1;
}

.major-info {
  margin: 30px 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
}
.major-name-label {
  font-size: 20px;
}
.major-name {
  border-radius: 4px;
  height: 30px;
}
.major-edit-field {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
.major-update-button {
  @include update-button(30px);
  border: 1px solid black;
}

.major-deactivate-button {
  @include deactivate-button(Global.$deactive-color);
}
.major-activate-button {
  @include deactivate-button(Global.$active-color);
}
