.class-search-container {
  justify-content: center;
  display: block;
  padding: 5px;

  /*for the form*/
  .class-info-form {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      label {
        width: 8rem;
        font-weight: bold;
      }

      input[type="text"] {
        flex: 1;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f9f9f9;
        color: #333;
      }
    }
  }
}
