@use "../../../App.scss";
@import "../../../mixins.scss";

.class-search-container {
  display: block;
  justify-content: center;
  padding: 5px;
}

.overviw-btn {
  height: 40px;
  @include button-type-1;
}
